.cards {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

.card {
  max-width: 282px;
  height: 361px;
}

.card__image {
  max-width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__info {
  background-color: #fff;
  color: #000;
  padding: 25px 30px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  /*Figma states 219px but this clips button when maintaining specified padding*/
  max-width: 212px;
  font-weight: 900;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__button {
  background-color: #fff;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0;
}

.card__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .cards {
    margin: 0 auto;
    justify-content: center;
  }
}
