.card {
  max-width: 282px;
  position: relative;
}

.card__image {
  max-width: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
}

.card__image:hover {
  cursor: pointer;
}

.card__info {
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  max-width: 219px;
  font-weight: 900;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background-color: #fff;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card_liked {
  background-image: url("../images/heart-active.svg");
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  background-image: url("../images/delete-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 15px;
  height: 14px;
  padding: 0;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
