.page {
  background-color: #000;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  padding: 45px 15vw 60px;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 45px 10vw 60px;
  }
}

@media screen and (max-width: 372px) {
  .page {
    padding: 45px 0 60px;
  }
}
