.profile {
  max-width: 880px;
  margin: 36px auto;
  display: flex;
  align-items: center;
}

.profile__image {
  max-width: 128px;
  border-radius: 100%;
  margin-right: 20px;
}

.profile__info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  margin: 0;
}

.profile__description {
  margin: 0;
  flex-basis: 100%;
}

.profile__edit-button {
  background-image: url("../images/edit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background-color: #000;
  margin: 15px 18px;
  width: 24px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #fff;
  max-width: 150px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-icon {
  max-width: 22px;
  padding: 100% 0;
}

@media screen and (max-width: 1120px) {
  .profile {
    max-width: 581px;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    display: flex;
    justify-content: center;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    text-align: center;
  }

  .profile__description {
    text-align: center;
  }

  .profile__add-button {
    max-width: 581px;
    margin-top: 31px;
  }
}

@media screen and (max-width: 644px) {
  .profile__info {
    justify-content: flex-end;
  }

  .profile__title {
    margin-top: 26px;
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__edit-button {
    background-size: 7px;
    margin: 30px 23px 15px 10px;
    max-width: 18px;
    max-height: 18px;
  }

  .profile__add-button {
    max-width: 282px;
    margin: 31px 0 0;
  }

  .profile__add-icon {
    max-width: 16px;
  }
}

@media screen and (max-width: 372px) {
  .profile {
    max-width: 282px;
  }
}
